body {
    font-size: 12px;
    margin: 0;
}

#packs-section {
    width: 100%;
    padding-top: 25px;
    vertical-align: middle;
}

footer {
    background: white;
    padding: 20px 0;
    margin: 36px 0 0 0;
    font-size: 1em;
}